# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore your output files
*.csv
*.tif
coeff_recovery.tif
slope_zonal_stats.csv
aspect_zonal_stats.csv

Untitled.ipynb

# Ignore environment directories
venv/
env/
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore any log files
*.log